@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
.educationContainerDiv {
  /* border: 2px solid purple; */
  /* background-color: #F5FFFA; */
  background: #f5fffa;
  background: linear-gradient(
    180deg,
    rgba(245, 255, 250, 1) 71%,
    rgba(255, 255, 255, 1) 95%
  );
  /* padding-bottom: 10vh; */
  height: fit-content;
  padding: 2vh 0 6vh 0vh; /* thoda spacing */
}

.educationDivHeading {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.educationHeading {
  display: flex;
  /* border: 2px solid red; */
  font-size: 5vh;
  justify-content: center;
  padding: 1vh 0; /* content ke hisaab se height adjust hogi */
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.educationContainer {
  /* border: 2px solid purple; */
  padding: 2vh 1vw;
  height: fit-content;
  font-family: "Arial", sans-serif;
}

.educationDiv {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.educationItem {
  line-height: 1.5;
  border: 2px solid rgb(0, 0, 0);
  padding: 2vh 2vw;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.educationItem:hover {
  transform: translateY(-3px);
}

.educationItem.left {
  align-self: flex-start;
  margin-left: 5%;
}

.educationItem.right {
  align-self: flex-end;
  margin-right: 5%;
}

/* Responsive for small screens */
@media (max-width: 768px) {
  .educationItem {
    width: 95%;
    margin: 0 auto !important;
  }
}
